/*@media screen and (min-width:920px)*/
* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0px;
    font-size: 15px;
    font-family: "National", "Helvetica", "Arial", sans-serif;
}

.header {
    background: #F19F9F;
}


.container {
    position: relative;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.logo {
    flex: none;
}

.logo__img {
    height: 70px;
}

.nav {
    flex: none;

}

.nav__list {
    line-height: 40px;
}

.nav__item {
    display: block;
    float: left;
    margin-right: 30px;
    text-transform: uppercase;

}

.nav__link {
    color: white;
    height: 100%;
    padding: 28px 0;
}

.nav__link:hover {
    color: #CD9713;
}

.nav__sub {
    position: absolute;
    z-index: 10;
    display: none;
    background-color: #FC7C7C;
    transform: translate3d(-25px, 14px, 0);
    text-transform: none;
    font-size: 16px;
    width: 190px;
    padding: 0;
}

.sub__item {
    display: block;
    padding-left: 0px;
}

.sub_link {
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    padding-left: 27px;
}

.sub_link:hover {
    opacity: 0.7;
}

.nav__item:hover .nav__link-sub+.nav__sub {
    display: block;
}


.header__bar {
    height: 70px;
}

.bar__buttons {
    margin: auto 0 auto auto;
    display: inline-flex;
    justify-content: space-between;
    width: 210px;
}

.buttons__link {
    color: white;
    width: 100%;
    height: 100%;
}

.buttons__signup,
.buttons__login {
    text-transform: uppercase;
    line-height: 40px;
    height: 40px;
    width: 100px;
    text-align: center;
    color: #fff;
}

.buttons__signup {
    border: solid 1px;
    background-color: #2685C6;
    border-color: #99caec;
    font-weight: 700;
    transition: background-color 0.2s;
}

.buttons__auxiliary {
    display: none;
    color: #CD9713;
}

.buttons__signup:hover {
    background-color: #4795CA;
}


.buttons__login:hover .buttons__link {
    display: none;
}

.buttons__login:hover .buttons__auxiliary {
    display: block;
}



.header__banner {
    background-color: #FD6E6E;
    text-align: center;
    position: relative;
}

.banner__content {
    padding-top: 90px;
    padding-bottom: 95px;
    text-align: center;
    color: white;
    margin: auto;
}

.banner__content h1 {
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
    margin: 0 200px;
}

.banner__content p {
    font-size: 20px;
    line-height: 30px;
    margin: 0 300px;
    min-width: 540px;
}

.banner__buttons {
    padding-top: 40px;
    display: inline-flex;
    width: 480px;
    justify-content: space-between;
}

.banner__pro-signup,
.banner__signup {
    text-transform: uppercase;
    line-height: 50px;
    height: 50px;
    width: 220px;
    text-align: center;
    color: #fff;
    border: solid 1px;
    font-weight: 700;
    font-size: 20px;
}

.banner__pro-signup {
    background-color: #69C5E4;
    border-color: #B7E3F2;
    transition: background-color 0.2s;
}

.banner__pro-signup:hover {
    background-color: #8FD2E8;
}

.banner__signup {
    background-color: #25D670;
    border-color: #6AF26E;
    transition: background-color 0.2s;
}

.banner__signup:hover {
    background-color: #2BDF77;
}

.banner__arrow {
    transform: rotate(90deg);
}

/*Scene*/

.banner__scene {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 110px;
}

.scene__dino {
    position: absolute;
    z-index: 2;
    width: 180px;
    bottom: -10px;
    right: 30px;
}

.scene__cloud {
    position: absolute;
    z-index: 1;
    opacity: 0.25;
    width: 110px;
}

.scene .cloud_1 {
    top: 10px;
    left: 10px;
    animation: move_1 1.5s ease-out 1;
}

.scene .cloud_2 {
    top: 330px;
    left: 100px;
    animation: move_2 1.5s ease-out 1;
}

.scene .cloud_3 {
    top: 300px;
    right: 30px;
    animation: move_3 1.5s ease-out 1;
}

.scene .cloud_4 {
    top: 40px;
    right: 0px;
    animation: move_4 1.5s ease-out 1;
}

@keyframes move_1 {
    from {
        left: -70vh;
    }

    to {
        left: 10px;
    }
}

@keyframes move_2 {
    from {
        left: -75vh;
    }

    to {
        left: 100px;
    }
}

@keyframes move_3 {
    from {
        right: -75vh;
    }

    to {
        right: 30px;
    }
}

@keyframes move_4 {
    from {
        right: -80vh;
    }

    to {
        right: 0px;
    }
}

/*Main*/

.container_text_centered {
    text-align: center;

}

.main__section_bg_white {
    padding-top: 80px;
    padding-bottom: 110px;
}


/*bem?*/
.main__section_bg_white .container_text_centered h2 {
    font-weight: 600;
    font-size: 40px;
    color: #3A3A3A;
    line-height: 50px;
}

.main__section_bg_white .container_text_centered p {
    max-width: 720px;
    font-weight: 400;
    font-size: 17px;
    color: #6E6C6C;
    margin: 0 auto;
}

/*bem?*/
.container_text_centered__text_color_blue {
    color: #61B7D4;
}

.container_text_centered__text_color_red {
    color: #E66760;
}




.main__section_bg_grey {
    background-color: #F8FAFB;
    padding-top: 80px;
    padding-bottom: 110px;
}

.items-block {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.items-block__item {
    width: 285px;
}

.items-block__img {
    width: 160px;
    background-color: #61B7D4;
    border-radius: 50%;
    padding: 30px;
    margin: auto;
    margin-bottom: 40px;
}

.items-block__arrow {
    align-self: flex-start;
    margin-top: 65px;
}

.items-block__text h2 {
    text-transform: uppercase;
    color: #61B7D4;
    font-weight: 600;
}

.items-block__text p {
    color: #6E6C6C;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
}

.container_text_centered__btn {
    text-transform: uppercase;
    line-height: 50px;
    height: 50px;
    width: 285px;
    color: #fff;
    background-color: #6dbcd7;
    border: solid 1px #b1dcea;
    font-weight: 600;
    font-size: 17px;
    margin: auto;
    transition: background-color 0.2s;
}

.container_text_centered__btn:hover {
    background-color: #68B0C9;
}

.btn__link {
    color: white;
    display: block;
    height: 100%;
    width: 100%;
}